
.single-portfolio {
    height: 250px;
    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 30px;
    width: 369px;
    margin-bottom: 30px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    &:hover{
        transform: scale(1.1);
    }
    h4 {
        background-color: #333;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        color: #fff;
        text-align: center;
        padding: 15px;
        font-size: 20px;
        text-transform: capitalize;
        border-radius: 5px;
    }
}
